@font-face {
  font-family: 'RecoletaAltBold';
  src: url('./fonts/Recoleta Alt Bold.otf') format('opentype');
}

@font-face {
  font-family: 'RecoletaAltMedium';
  src: url('./fonts/Recoleta Alt Medium.otf') format('opentype');
}

@font-face {
  font-family: 'ModernEraBold';
  src: url('./fonts/ModernEra-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'ModernEraRegular';
  src: url('./fonts/ModernEra-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'KalamBold';
  src: url('./fonts/Kalam-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'KalamLight';
  src: url('./fonts/Kalam-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'KalamRegular';
  src: url('./fonts/Kalam-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
